
@media (max-width: 768px) {

  :root{
 --space-xs: 8px;
 --space-sm: 16px;
 --space-md: 24px;
 --space-lg: 40px;
 --space-xl: 64px;
 --space-2xl: 96px;
 --space-3xl: 140px;
 --space-4xl: 180px;
}

  .section {
    padding-block: var(--space-xl) !important;
    padding-inline: var(--space-md) !important;
  }

  h2 {
    margin-bottom: var(--space-sm)!important;
  }

  h3 {
    letter-spacing: 0.25rem;
    line-height: 1.4;
    margin-bottom: var(--space-md)!important;
  }

  p {
    font-size: 0.9rem;
    line-height: 2.1;
  }

  small {
    font-size: 0.8rem;
    line-height: 2.1;
  }

  br{
    display: none;
  }

  .sp-show-br{
    display: inline;
  }
  
}

  /* =========================================================
     ヘッダー・ヒーロー
  ========================================================= */


@media (max-width: 768px) {
  .pc-vertical-nav {
    display: none;
  }

  .site-title {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%); 
    margin-left: 0 !important;  
  }

  .header-logo img {
  width: 110px;
  height: auto;
}

  .hero-text p {
    font-weight: 400;
    font-size: 1.5rem;
  }
}


  /* =========================================================
     私たちについて
  ========================================================= */

  @media (max-width: 768px) {

  .aboutus-wrapper {
    gap: var(--space-md);
  }

  .aboutus-block {
    display: flex !important;
    flex-direction: column !important;
    gap: var(--space-md);
    margin: 0 !important;
    grid-template-columns: none !important;
    grid-auto-rows: auto !important;
  }

  .aboutus-img-single,
  .aboutus-img-pair {
    margin: 0 !important;
    padding: 0 !important;
  }

  .aboutus-img-single img,
  .aboutus-img-pair img {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 0 !important;
    width: 100% !important;
    aspect-ratio: 3 / 2;
    object-fit: cover;
  }

   .aboutus-block:first-child {
    margin-bottom: var(--space-lg) !important;
  }

  .aboutus-block:nth-child(2) .aboutus-text-vertical {
    order: 1 !important;
  }

  .aboutus-block:nth-child(2) .aboutus-img-pair {
    order: 2 !important;
    display: flex !important;
    flex-direction: column !important;
    gap: var(--space-md) !important;
  }

 .aboutus-text-vertical {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;

    justify-items: initial !important;
    align-content: initial !important;

   margin-bottom: var(--space-md);
  }

  .aboutus-text-vertical h3{
    writing-mode: horizontal-tb;
    margin-bottom: var(--space-md) !important;
  }

  .aboutus-text-vertical h2,
  .aboutus-text-vertical h3,
  .aboutus-text-vertical p {
    text-align: left !important;
    margin-left: 0 !important;
  }

.aboutus-text-vertical p {
    width: 100% !important;
    max-width: 22em !important;
    margin: 0;
  }


}





/* =========================================================
     ニュース
  ========================================================= */
@media (max-width: 768px) {

  #news {
    display: block;
    width: 100%;
  }

  .news-inner, {
    flex-direction: column;
    align-items: flex-start;
  }

  .news-wrapper {
    display: block;
    max-width: 100%;
  }

  .news-title {
    width: auto;
  }

  .news-list {
    width: 100%;
    min-width: auto;
    gap: var(--space-sm); 
  }

  .news-item {
    padding-bottom: var(--space-sm);
  }

}


  /* =========================================================
     メニュー
  ========================================================= */

@media (max-width: 768px){

  .menu-title {
    width: 100%; 
  }

  .menu-text {
    width: 100%;
  }

  .menu-block {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }

  .news-title,
  .menu-title {
    width: 100%;   
  }

  .menu-sns {
    width: 100%;
    align-items: center;
    margin: var(--space-sm) auto 0;
  }

  .menu-sns img {
    width: 280px;  
  }

  .menu-slider .swiper-slide {
    width: 80%;   
  }

  .news-list,
  .menu-text {
    gap: var(--space-sm);
  }

  .swiper-pagination {
    margin-top: var(--space-lg);
    margin-bottom: var(--space-lg);
  }

  .menu-text p {
    margin-bottom: var(--space-sm) !important;
  }
  
  .menu-text small {
    margin-bottom: var(--space-sm) !important;
  }
}

    /* =========================================================
     帯
  ========================================================= */

  @media (max-width: 768px) {
  .band-photo-section {
    padding-inline: 0 !important;
  }
}


  /* =========================================================
     店舗情報
  ========================================================= */

  @media (max-width: 768px) {

  #info {
    display: block;
    width: 100%;
  }

  .info-wrapper {
    display: block;
    max-width: 100%;
  }

  .info-title {
    width: auto;
  }

  .info-content {
    min-width: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
  }

  .map iframe {
    height: 260px;
  }

  .info-shop dl {
    display: block;
  }

  .info-shop dt {
    border-bottom: none;
  }

  .info-shop dd {
    padding: 0 0 var(--space-sm);
    margin: 0 0 var(--space-sm);
  }
    
  /* =========================================================
     フッター
  ========================================================= */
    footer {
      padding-block: var(--space-lg);
    }
    
}

